<div class="header">
    <h6>Calculater App</h6>
</div>
<div class="container">
  <table class="table table-bordered center">
    <tbody>
      <tr>
        <td colspan="4"><input class="form-control" type="text" [value]= "result" class=""></td>
      </tr>
      <tr>
        <td><input type="button" value="1" class="btn btn-primary" (click)= "buttonClick($event)"></td>
        <td><input type="button" value="2" class="btn btn-primary" (click)= "buttonClick($event)"></td>
        <td><input type="button" value="3" class="btn btn-primary" (click)= "buttonClick($event)"></td>
        <td><input type="button" value="+" class="btn btn-primary" (click)= "setOperator($event)"></td>        
      </tr>
      <tr>
        <td><input type="button" value="4" class="btn btn-primary" (click)= "buttonClick($event)"></td>
        <td><input type="button" value="5" class="btn btn-primary" (click)= "buttonClick($event)"></td>
        <td><input type="button" value="6" class="btn btn-primary" (click)= "buttonClick($event)"></td>
        <td><input type="button" value="-" class="btn btn-primary" (click)= "setOperator($event)"></td>
      </tr>
      <tr>
        <td><input type="button" value="7" class="btn btn-primary" (click)= "buttonClick($event)"></td>
        <td><input type="button" value="8" class="btn btn-primary" (click)= "buttonClick($event)"></td>
        <td><input type="button" value="9" class="btn btn-primary"(click)= "buttonClick($event)"></td>
        <td><input type="button" value="X" class="btn btn-primary" (click)= "setOperator($event)"></td>
      </tr>
      <tr>
        <td><input type="button" value="0" class="btn btn-primary" (click)= "setOperator($event)"></td>
        <td><input type="button" value="/" class="btn btn-primary" (click)= "setOperator($event)"></td>
        <td ><input type="button" value="=" class="btn btn-primary" (click) ="equalTo()" ></td>
        <td><input type="button" value="C" class="btn btn-primary" (click)="clear()"></td>
        
      </tr>
    </tbody>
  </table>
</div>